<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Módulos de ABS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cuadrantes-container">
    <!-- CUADRANTE NORTE -->
    <div class="cuadrante">
      <h3>Cuadrante Norte</h3>
      <ion-grid class="cuadrante-grid">
        <ion-row>
          <ion-col size="3" *ngFor="let modulo of getModulosNorte()">
            <ion-card class="modulo-card">
              <img [src]="modulo.estadoReset 
                    ? 'assets/img/version2.png' 
                    : 'assets/img/version1.png'"  
              alt="Modulo"/>
              <ion-card-header>
                <ion-card-title>{{ modulo.nombre }}</ion-card-title>
                <ion-card-subtitle>Versión: {{ modulo.version || 'Version 1' }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div class="card-body">
                  <!-- Información del modulo a la izquierda -->
                  <div class="modulo-info-left">
                    <div class="info-item">
                      <span class="value">T: {{ modulo.medicionTempActual || 'N/A' }} °C</span>
                      <span class="value">P: {{ modulo.medicionPressActual || 'N/A' }} hPa</span>
                    </div>
                  </div>

                  <!-- Mediciones a la derecha -->
                  <div class="mediciones-right">
                    <!-- modulo UP -->
                    <div class="modulo-item up" 
                         [class.activo]="modulo.estadoReset">
                      <div class="medicion-container">
                        <span class="temperatura">UP: {{ modulo.up }}</span>
                      </div>
                    </div>

                    <!-- modulo DOWN -->
                    <div class="modulo-item down" 
                         [class.activo]="modulo.estadoReset">
                      <div class="medicion-container">
                        <span class="temperatura">DW: {{ modulo.down }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="botones">
                  <ion-button fill="outline" size="small"
                    (click)="verMediciones(modulo.moduloId)">
                    Historial
                  </ion-button>

                  <ion-button color="primary" size="small"
                    (click)="verDetalle(modulo.moduloId)">
                    +Info
                  </ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </div>
    <!-- CUADRANTE ESTE -->
    <div class="cuadrante">
      <h3>Cuadrante ESTE</h3>
      <ion-grid class="cuadrante-grid">
        <ion-row>
          <ion-col size="3" *ngFor="let modulo of getModulosEste()">
            <ion-card class="modulo-card">
              <img [src]="modulo.estadoReset 
                    ? 'assets/img/version2.png' 
                    : 'assets/img/version1.png'"  
              alt="Modulo"/>
              <ion-card-header>
                <ion-card-title>{{ modulo.nombre }}</ion-card-title>
                <ion-card-subtitle>Versión: {{ modulo.version || 'Version 1' }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div class="card-body">
                  <!-- Información del modulo a la izquierda -->
                  <div class="modulo-info-left">
                    <div class="info-item">
                      <span class="value">T: {{ modulo.medicionTempActual || 'N/A' }} °C</span>
                      <span class="value">P: {{ modulo.medicionPressActual || 'N/A' }} Bar</span>
                    </div>
                  </div>

                  <!-- Mediciones a la derecha -->
                  <div class="mediciones-right">
                    <!-- modulo UP -->
                    <div class="modulo-item up" 
                         [class.activo]="modulo.estadoReset">
                      <div class="medicion-container">
                        <span class="temperatura">UP: {{ modulo.up }}</span>
                      </div>
                    </div>

                    <!-- modulo DOWN -->
                    <div class="modulo-item down" 
                         [class.activo]="modulo.estadoReset">
                      <div class="medicion-container">
                        <span class="temperatura">DW: {{ modulo.down }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="botones">
                  <ion-button fill="outline" size="small"
                    (click)="verMediciones(modulo.moduloId)">
                    Historial
                  </ion-button>

                  <ion-button color="primary" size="small"
                    (click)="verDetalle(modulo.moduloId)">
                    +Info
                  </ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </div>
    <!-- CUADRANTE OESTE-->
    <div class="cuadrante">
      <h3>Cuadrante OESTE</h3>
      <ion-grid class="cuadrante-grid">
        <ion-row>
          <ion-col size="3" *ngFor="let modulo of getModulosOeste()">
            <ion-card class="modulo-card">
              <img [src]="modulo.estadoReset 
                    ? 'assets/img/version2.png' 
                    : 'assets/img/version1.png'"  
              alt="Modulo"/>
              <ion-card-header>
                <ion-card-title>{{ modulo.nombre }}</ion-card-title>
                <ion-card-subtitle>Versión: {{ modulo.version || 'Version 1' }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div class="card-body">
                  <!-- Información del modulo a la izquierda -->
                  <div class="modulo-info-left">
                    <div class="info-item">
                      <span class="value">T: {{ modulo.medicionTempActual || 'N/A' }} °C</span>
                      <span class="value">P: {{ modulo.medicionPressActual || 'N/A' }} Bar</span>
                    </div>
                  </div>

                  <!-- Mediciones a la derecha -->
                  <div class="mediciones-right">
                    <!-- modulo UP -->
                    <div class="modulo-item up" 
                         [class.activo]="modulo.estadoReset">
                      <div class="medicion-container">
                        <span class="temperatura">UP: {{ modulo.up }}</span>
                      </div>
                    </div>

                    <!-- modulo DOWN -->
                    <div class="modulo-item down" 
                         [class.activo]="modulo.estadoReset">
                      <div class="medicion-container">
                        <span class="temperatura">DW: {{ modulo.down }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="botones">
                  <ion-button fill="outline" size="small"
                    (click)="verMediciones(modulo.moduloId)">
                    Historial
                  </ion-button>

                  <ion-button color="primary" size="small"
                    (click)="verDetalle(modulo.moduloId)">
                    +Info
                  </ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </div>
    <!-- CUADRANTE SUR -->
    <div class="cuadrante">
      <h3>Cuadrante Sur</h3>
      <ion-grid class="cuadrante-grid">
        <ion-row>
          <ion-col size="3" *ngFor="let modulo of getModulosSur()">
            <ion-card class="modulo-card">
              <img [src]="modulo.estadoReset 
                    ? 'assets/img/version2.png' 
                    : 'assets/img/version1.png'"  
              alt="Modulo"/>
              <ion-card-header>
                <ion-card-title>{{ modulo.nombre }}</ion-card-title>
                <ion-card-subtitle>Versión: {{ modulo.version || 'Version 1' }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div class="card-body">
                  <!-- Información del modulo a la izquierda -->
                  <div class="modulo-info-left">
                    <div class="info-item">
                      <span class="value">T: {{ modulo.medicionTempActual || 'N/A' }} °C</span>
                      <span class="value">P: {{ modulo.medicionPressActual || 'N/A' }} Bar</span>
                    </div>
                  </div>

                  <!-- Mediciones a la derecha -->
                  <div class="mediciones-right">
                    <!-- modulo UP -->
                    <div class="modulo-item up" 
                         [class.activo]="modulo.estadoReset">
                      <div class="medicion-container">
                        <span class="temperatura">UP: {{ modulo.up }}</span>
                      </div>
                    </div>

                    <!-- modulo DOWN -->
                    <div class="modulo-item down" 
                         [class.activo]="modulo.estadoReset">
                      <div class="medicion-container">
                        <span class="temperatura">DW: {{ modulo.down }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="botones">
                  <ion-button fill="outline" size="small"
                    (click)="verMediciones(modulo.moduloId)">
                    Historial
                  </ion-button>

                  <ion-button color="primary" size="small"
                    (click)="verDetalle(modulo.moduloId)">
                    +Info
                  </ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </div>
  </div>
  <ion-row class="acciones-globales">
    <ion-col size="12" class="ion-text-right">
      <ion-button fill="solid" color="success" size="small" (click)="encenderTodos()">
        Encender Todos
      </ion-button>
      <ion-button fill="solid" color="danger" size="small" (click)="apagarTodos()">
        Apagar Todos
      </ion-button>
    </ion-col>
  </ion-row>    
</ion-content>
