<ion-header >
  <ion-toolbar color="primary">
    <ion-title> Detalles del Modulo N° {{ moduloId }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="modulo">
  <ion-card class="device-detail-card">
    <ion-grid>
      <ion-row>
        <!-- Texto a la izquierda -->
        <ion-col size="12" size-md="8">
          <ion-card-content>
            <p><strong>Ubicación:</strong> {{ modulo.ubicacion }}</p>

            <p>
              <strong>Válvula:</strong>
              <ng-container *ngIf="estadoReset !== null; else cargandoReset">
                <ion-chip [color]="estadoReset ? 'success' : 'danger'">
                  {{ estadoReset ? 'Abierta' : 'Cerrada' }}
                </ion-chip>
              </ng-container>
              <ng-template #cargandoReset>
                Cargando estado...
              </ng-template>
            </p>

            <div class="ultima-medicion">
              <ng-container *ngIf="ultimaMedicion; else noMediciones">
                <p><strong>Última Medición:</strong></p>
                <p>Fecha: {{ ultimaMedicion.fecha | date: 'dd/MM/yyyy HH:mm'}}</p>
                <p>Valor: {{ ultimaMedicion.valor_temp }} °C</p>
              </ng-container>
              <ng-template #noMediciones>
                <p>No hay mediciones registradas.</p>
              </ng-template>
            </div>

            <!-- Botones de válvula -->
            <div class="botones-reset">
              <ion-button expand="block" color="success" (click)="abrirReset(modulo.moduloId)">Abrir Reset</ion-button>
              <ion-button expand="block" color="danger" (click)="cerrarReset(modulo.moduloId)">Cerrar Reset</ion-button>
            </div>
          </ion-card-content>
        </ion-col>

        <!-- Imagen a la derecha -->
        <ion-col size="12" size-md="5" class="device-image">
          <img [src]="estadoReset ? 'assets/img/version2.png' : 'assets/img/version1.png'" 
              alt="Imagen modulo" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- Botones generales fuera de la tarjeta -->
  <div class="botones-generales">
    <ion-button expand="block" color="primary" (click)="verMediciones()">Mostrar Mediciones</ion-button>
    <ion-button expand="block" fill="outline" color="medium" (click)="volverAlHome()">Volver al Home</ion-button>
  </div>
</ion-content>
