<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Mediciones del Modulo N° {{ moduloId }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Botones de selección de tipo de medición -->
  <div class="filtros-container">
    <ion-segment 
      [value]="tipoSeleccionado" 
      (ionChange)="onSegmentChange($event)"
      color="primary">
      <ion-segment-button value="temperatura">
        <ion-label>🌡️ Temperatura</ion-label>
      </ion-segment-button>
      <ion-segment-button value="presion">
        <ion-label>🌪️ Presión</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <!-- Si hay mediciones -->
  <ng-container *ngIf="mediciones && mediciones.length > 0">
    <!-- Última medición destacada -->
    <ion-card color="light" class="ultima-medicion">
      <ion-card-header>
        <ion-card-title>📌 Última medición {{tipoSeleccionado}}</ion-card-title>
        <ion-card-subtitle>{{ medicionesFiltradas[0].fecha | date: 'dd/MM/yyyy HH:mm' }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="valor-destacado">
          <span>{{ obtenerValorMedicion(medicionesFiltradas[0]) }}</span>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Bloque único para el resto de mediciones -->
    <ion-card color="light" class="bloque-historial">
      <ion-card-header>
        <ion-card-title>📜 Historial de mediciones: {{tipoSeleccionado}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="full">
          <ion-item *ngFor="let medicion of medicionesFiltradas.slice(1); let i = index; trackBy: trackByFecha" class="item-historial">
            <ion-label>
              <h2>N°{{ medicionesFiltradas.length - (i + 1) }}</h2>
              <p>Fecha: {{ medicion.fecha | date: 'dd/MM/yyyy HH:mm' }}</p>
              <p>Valor: {{ obtenerValorMedicion(medicion) }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <!-- Si no hay mediciones -->
  <ion-text color="medium" *ngIf="!mediciones || mediciones.length === 0">
    <p class="ion-text-center">No hay mediciones de {{tipoSeleccionado}} disponibles</p>
  </ion-text>
  <!-- Botón de Home -->
  <ion-button expand="block" color="primary" (click)="volverAlHome()" class="boton-home">
    🏠 Volver al Home
  </ion-button>

</ion-content>